/* global */

body {
  margin: 0;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  color: black;

  background: linear-gradient(#fed6af ,#fff7e2 , #ffffee) no-repeat;
  background-color: #ffffee;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

b {
  color: #cc1105;
}

.main {
  display: flex;

  flex-direction: column;

  width: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.title {
  margin-right: auto;
  margin-left: auto;
  color: #117743;
}

.search {
  margin-left: auto;
  margin-right: auto;
}

.list-wrapper {
  margin-top: 20%;
}

.list {
  padding: 1px;
}

.list__item {
  display: flex;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2px;
  
  background-color: #f0e0d6;
  padding: 2px 15px;

  border: 1px solid black;
} 

.repository-info {
  display: flex;
  flex-direction: column;
}

.remove-button {
  margin-left: auto;
  
}

.remove-button::after {
  content: url("../svg/close.svg");
  cursor: pointer;
  position: absolute;
  transform: translateX(-45px);
  width: 34px;
  height: 39px;
}

.remove-button:hover {
  transform: scale(1.1);
}