body {
  margin: 0;
  padding: 0;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  color: black;

  background: linear-gradient(#fed6af, #fff7e2, #ffffee) no-repeat;
  background-color: #ffffee;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

b {
  color: #880000;
}

.main {
  display: flex;

  flex-direction: column;

  width: 600px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
}

.title {
  margin-right: auto;
  margin-left: auto;
  color: #880000;
}

.search {
  margin-left: auto;
  margin-right: auto;
}

.search__input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  width: 224px;
}

.autocomplite-box {
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #8f8f9d;
  border-top: none;
  position: absolute;
  width: 222px;
}

.nothing-found {
  font-size: 14px;
  margin-left: 27%;
  margin-right: auto;
}

.autocomplite-list {
  padding: 0;
  margin: 0;
}

.autocomplite__item {
  padding: 2px 5px;
  cursor: pointer;
  word-break: break-all
}

.autocomplite__item:hover {
  background-color: #ffccaa;
  color: #880000;
}

.list-wrapper {
  margin-top: 20%;
}

.list {
  padding: 1px;
}

.list__item {
  display: flex;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2px;

  background-color: #ffccaa;
  padding: 2px 15px;

  border: 1px solid black;
}

.repository-info {
  display: flex;
  flex-direction: column;
}

.remove-button {
  margin-left: auto;

}

.remove-button::after {
  content: url("../svg/close.svg");
  cursor: pointer;
  position: absolute;
  transform: translateX(-45px);
  width: 34px;
  height: 39px;
}

.remove-button:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 768px) {
  .main {
    width: auto;
  }

  .list__item {
    width: auto;
  }

  .list-wrapper {
    margin-top: 40%;
  }
}